@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO.ttf);
}
@font-face {
  font-family: Gamer;
  src: url(Gamer.ttf);
}
@font-face {
  font-family: Karma;
  src: url(KarmaFuture.ttf);
}

html {
  background-color: rgb(15, 15, 15);
  margin: 0;
}
body {
  margin: 0;
}

body::after {
  /*scanlines*/
  content: "";
  background: url(scanlines.png);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 5%;
  pointer-events: none;
  opacity: 1;
}

.title {
  text-align: center;
  font-family: VCR;
  color: green;
  font-size: 11vw;
  text-shadow: 0px 0px 8vh green;
  margin-bottom: 30vh;
}

.subtitle {
  text-align: center;
  font-family: Gamer;
  color: green;
  font-size: 8vw;
  text-shadow: 0px 0px 4vh green;
}

.taskbar {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.NHDStuff {
  font-size: 3vw;
  text-align: center;
  font-family: VCR;
  color: white;
  text-shadow: 0px 0px 5vw white;
}

.taskbar a {
  float: left;
  display: block;
  background-color: rgb(60, 60, 60);
  padding: 1.5vw 0vw;
  width: 25%;
  text-align: center;
  color: rgb(200, 200, 200);
  font-family: VCR;
  font-size: 1vw;
  text-decoration: none;
}

.tab-text {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: none;
  vertical-align: middle;
  line-height: 4vw;
  font-size: 1vw;
  font-family: VCR;
  text-align: center;
  color: rgb(180, 180, 180);
}

.taskbar a:hover {
  background-color: rgb(120, 120, 120);
}

.blank-link {
  text-decoration: none;
}
