@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO.ttf);
}
@font-face {
  font-family: Karma;
  src: url(KarmaFuture.ttf);
}

html {
  background-color: rgb(15, 15, 15);
}

body::after {
  /*scanlines*/
  content: "";
  background: url(scanlines.png);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 5%;
  pointer-events: none;
  opacity: 1;
}

.title {
  text-align: center;
  font-family: VCR;
  color: green;
  font-size: 11vw;
  text-shadow: 0px 0px 8vh green;
}

.subtitle {
  text-align: center;
  font-family: Karma;
  color: green;
  font-size: 5vw;
  text-shadow: 0px 0px 4vh green;
}

.taskbar {
  background-color: rgb(40,40,40);
  justify-content: space-around;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  width: 100%;
  height: 4vw;
  
}
.NHDStuff {
  font-size: 3vw;
  text-align: center;
  font-family: VCR;
  color: white;
  text-shadow: 0px 0px 5vw white;
}

.tab {
  background-color: rgb(60,60,60);
  width: 100%;
  margin: 2vw;
  height: 4vw;
  text-align: center;
  
  
  
}
.tab-text {
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 100%;
  vertical-align: middle;
  line-height: 4vw;
  font-size: 1vw;
  font-family: VCR;
  text-align: center;
  color: rgb(180,180,180);
  
}

.tab: hover {
  background-color: rgb(120,120,120);
  
  
