@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO.ttf);
}
@font-face {
  font-family: Karma;
  src: url(KarmaFuture.ttf);
}

@font-face {
  font-family: Gamer;
  src: url(Gamer.ttf);
}

html {
  background-color: rgb(15, 15, 15);
  margin: 0;
}

body {
  margin: 0;
}

body::after {
  /*scanlines*/
  content: "";
  background: url(scanlines.png);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 5%;
  pointer-events: none;
  opacity: 1;
}

.title {
  text-align: center;
  font-family: VCR;
  color: green;
  font-size: 11vw;
  text-shadow: 0px 0px 8vh green;
  margin-bottom: 25vh;
}

.subtitle {
  text-align: center;
  font-family: Karma;
  color: green;
  font-size: 5vw;
  text-shadow: 0px 0px 4vh green;
}

.taskbar {
  overflow: hidden;
  background-color: rgb(40, 40, 40);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.NHDStuff {
  font-size: 3vw;
  text-align: center;
  font-family: VCR;
  color: white;
  text-shadow: 0px 0px 5vw white;
}

.taskbar a {
  float: left;
  display: block;
  background-color: rgb(60, 60, 60);
  padding: 1.5vw 0vw;
  width: 12.5%;
  text-align: center;
  color: rgb(200, 200, 200);
  font-family: VCR;
  font-size: 1vw;
  text-decoration: none;
}

.tab-text {
  display: inline;
  width: 100%;
  height: 100%;
  text-decoration: none;
  vertical-align: middle;
  line-height: 4vw;
  font-size: 1vw;
  font-family: VCR;
  text-align: center;
  color: rgb(180, 180, 180);
}

.taskbar a:hover {
  background-color: rgb(120, 120, 120);
}

.p-sec {
  margin: 4vw;
  margin-bottom: 5vh;
  text-align: center;
  padding: 2vw 0;
}

.blank-link {
  text-decoration: none;
}

.paragraph {
  text-align: center;
  font-family: VCR;
  font-size: 2.2vw;
  line-height: 2.4vw;
  color: white;
  text-shadow: 0px 0px 3px white;
}

.image {
  margin: 0.6vw;
  margin-bottom: 5vh;
  box-shadow: 0px 0px 5px white;
}

.mgb {
  margin-bottom: 10vw;
}

.topnav a.active {
  background-color: rgb(200, 200, 200);
  color: rgb(40, 40, 40);
}

.quote {
  color: rgb(180, 180, 180);
  font-family: VCR;
  font-size: 1.5vw;
  text-align: center;
  line-height: 2.6vw;
  text-shadow: 0px 0px 5px rgb(180, 180, 180);
}

.quote-div {
  width: 38vw;
  float: right;
  border: 3px solid white;
  box-shadow: 0px 0px 5px white;
}

caption {
  font-family: VCR;
  font-size: 1vw;
  color: white;
  text-align: center;
}
